.contact {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 100px;
  }
  
.conta {
    background: white;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 100px;
    p {
      font-family: "Noto Sans";
      font-weight: 600;
      font-size: 46px;
      line-height: 55.2px;  
      color: #282B26;
    }

    div {
      width: 75%;
      height: 1px;
      background: #ECECEC;
      
    }
    
    
  }  
    


  .adres {
    width: 100%;
    height: 516px;
    background: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
  

  }

  
  .time {  

    width: 100%;
    height: 290px;
    border-bottom: solid #ECECEC ;
    display: flex;
    justify-content: space-between;
    
  }


  
  .phone {
    width: 100%;
    height: 156px;
    display: flex;
    justify-content: space-between;

    .phone_box {

      display: flex;    
      flex-direction: column;
      justify-content: space-between;
      width: 27%;
      height: 156px;
  
      p {
        font-family: "Noto Sans";
        font-size: 22px;
        font-weight: 400;
        line-height: 26.4px;
        text-align: left;
        color: #686A67;}
  
      a {
        .img1 {
          background: #F5D100;
          width: 100%;
          height: 80px; 
          display: flex;
          flex-direction: row;
          
          .div1{

            display: flex;
            justify-content: center;
            align-items: center;

            // width: 71px;
            width: 20%;
            height: 100%;
          }

          .div2{
            width: 80%;         
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 2px solid white;

            span{
              font-family: "Noto Sans";
              font-size: 29px;
              font-weight: 500;
              line-height: 34.8px;
              letter-spacing: 0.03em;
              text-align: left;
              
            }


          }
          img{
            width: 32px;
            height: 32px;
          }

        }

        .img1:hover{
          background: #FBE461;
        }

        .img2{
          background: #ECECEC;
          width: 100%;
          height: 80px; 
          display: flex;
          flex-direction: row;
          
          .div1{

            display: flex;
            justify-content: center;
            align-items: center;

            width: 71px;
            height: 100%;
          }

          .div2{
            width: 80%;         
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 2px solid white;

            span{
              font-family: "Noto Sans";
              font-size: 29px;
              font-weight: 500;
              line-height: 34.8px;
              letter-spacing: 0.03em;
              text-align: left;
              
            }


          }
          img{
            width: 32px;
            height: 32px;
          }


        }

        .img2:hover{
          background: #D2D2D2;
        }

        .img3{
          background: #282B26;
          width: 100%;
          height: 80px; 
          display: flex;
          flex-direction: row;
          
          .div1{

            display: flex;
            justify-content: center;
            align-items: center;

            width: 71px;
            height: 100%;
          }

          .div2{
            width: 80%;         
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 2px solid white;

            span{
              font-family: "Noto Sans";
              font-size: 29px;
              font-weight: 500;
              line-height: 34.8px;
              letter-spacing: 0.03em;
              text-align: left;
              color: white;
              
            }


          }
          img{
            width: 32px;
            height: 32px;
          }


        }

        .img3:hover{
          background: #0B0B0B;

        }


      }

    }
  }

  .biw {
  width: 50%;
  height: 179px;
  display: flex;
  flex-direction: column;
  margin: 61px 0 50px 0;

  
  .p3 {
    font-family: "Noto Sans";
    font-size: 44px;
    font-weight: 500;
    line-height: 52.8px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #282B26;
  
  }
  
  .p4 {
    font-family: "Noto Sans";
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    color: #686A67;
    padding-top:  55px;
  
  }
  
  .p5 {
    font-family: "Noto Sans";
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    color: #686A67;  
    padding-top: 17px;
    position: relative;
  }  
  }
  .p5::after{
    content: "";
    background: no-repeat center url("../../../../assets/images/contacts/vector-bottom.svg");  
    width: 16px;
    height: 12px;
    position: absolute;
    left: 205px;
    top: 30px;
  }
  .p5:hover{
    color: #121212;
  }
  .p5:hover::after {    
    background: no-repeat center url("../../../../assets/images/contacts/vector-left.svg"); 
    transition: background 0.1s ease, left 1s ease, top 1s ease;   
  }


  .den {
   
    width: 47%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin: 70px 50px 50px 50px;
  
    
    div {
      height: 77px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .p1 {
      font-family: "Noto Sans";
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 0.03em;
      text-align: left;
      color: #282B26;
      padding-bottom: 5px;
    }
  
    .p2 {
      font-family: "Noto Sans";
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0.03em;
      text-align: left;
      color: #686A67;
    }     

  }

  .line2 {
    width: 1px;
    height: 100%;
    background: #ECECEC;
  }







@media (max-width: 1050px){

  // .div2{
  //   span{

  //     font-size: 18px;
  //   }
  // }

  .phone .phone_box a .img1 .div2 span {
    font-size: 20px;
  }

  .phone .phone_box a .img2 .div2 span {
    font-size: 20px;
  }

  .phone .phone_box a .img3 .div2 span {
    font-size: 20px;
  }

}


@media (max-width: 768px){
  // .conta{
  //   div{
  //     width: 40%;
  //   }
  // }


  .phone .phone_box a .img1 .div2 span {
    font-size: 16px;
  }

  .phone .phone_box a .img2 .div2 span {
    font-size: 16px;
  }

  .phone .phone_box a .img3 .div2 span {
    font-size: 16px;
  }



}



@media (max-width: 610px){
  .contact {
    padding-left: 20px;
    padding-top: 100px;
    }
  .conta{
    p{
      font-size: 26px;
    }
  }
  .phone {            
    div{
      p{ font-size: 16px;}}
            }
  .biw {
  .p3 {
    font-size: 22px;
  }
  .p4 {
    font-size: 16px;
  }
  .p5{
    font-size: 14px;
  }

  .p5::after{

    width: 16px;
    height: 12px;
    position: absolute;
    left: 110px;
    top: 25px;
  }


}
.den{
  .p1 { font-size: 16px;}
.p2 { font-size: 14px ;}
}
}


@media (max-width: 570px){

  .contact {
    height: 673px;
    padding-top: 0;
    margin-top: 50px;
    display: block;
    }

  .adres{

    height: 435px;
    margin-top: 70px;
    gap: 25px;
  }
  
  .conta{
    height: 31px;
  }

  .phone { 
    width: 246px;
    height: 281px;
    // margin-top: 20px;    
    flex-direction: column;

    .phone_box{
      width: 100%;
      p{
        font-size: 14px;  
      }
    } 
    }

  .biw{
    .p4 {
      padding-top: 50px;
    }
  }


  
}
