@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/NotoSans-BoldItalic.woff') format('woff'),
        url('../fonts/NotoSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: url('../fonts/NotoSansCondensed-Medium.woff2') format('woff2'),
        url('../fonts/NotoSansCondensed-Medium.woff') format('woff'),
        url('../fonts/NotoSansCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans-Bold.woff') format('woff'),
        url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: url('../fonts/NotoSansCondensed-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansCondensed-Regular.woff') format('woff'),
        url('../fonts/NotoSansCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: url('../fonts/NotoSansCondensed-MediumItalic.woff2') format('woff2'),
        url('../fonts/NotoSansCondensed-MediumItalic.woff') format('woff'),
        url('../fonts/NotoSansCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-Bold.woff2') format('woff2'),
        url('../fonts/Rokkitt-Bold.woff') format('woff'),
        url('../fonts/Rokkitt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Rokkitt-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Rokkitt-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Rokkitt-ExtraBold.woff') format('woff'),
        url('../fonts/Rokkitt-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rokkitt';
    src: url('../fonts/Rokkitt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Rokkitt-BoldItalic.woff') format('woff'),
        url('../fonts/Rokkitt-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

