* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
 }
 
 a {
	color: inherit;
	text-decoration: none;
 }
 
 button {
	cursor: pointer;
	border: none;
 }
 
 input {
	margin: 0;
	border: none;
	outline: none;
	background: transparent;
	box-shadow: none;
	font-size: 20px;
	color: #ccc;
 }
 
 input[type="number"]::-webkit-inner-spin-button,
 input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
 }
 
 body {
	overflow-x: hidden;
 }
 
 .cargoCalculator {
	height: 824px;
	width: 100%;
	background: rgb(40, 43, 38);
	display: grid; 
	grid-template-rows: auto 1fr auto; 
	
 }
 
 .group_cc {
	margin: 0 50px;
 }
 
 .title_calculator {
	color: rgb(255, 255, 255);
	font-family: "Noto Sans";
	font-size: 2.5rem; 
	line-height: 3rem; 
	text-align: left;
	padding: 4rem 0 0 5rem;
 }
 
 .line {
	position: absolute;
	width: 50%; /* Гибкая ширина, зависящая от ширины родительского контейнера */
	height: 1px;
	left: 70%; /* Сначала центрируем относительно родительского контейнера */
	top: 110px;
	transform: translateX(-50%); /* Смещаем на половину ширины для точного центрирования */
	background: rgb(104, 106, 103);
 }
 
 .inputGroup {
	margin:0 1rem 2rem 0;

 }
 
 .result {
	font-weight: bold;
	color: #333;
	font-size: 1.2rem;
 }
 
 .calculator_skeleton {
	width: 100%; 
	max-width: 1284px; 
	height: 440px;
	margin: 0 auto;
	display: grid; 
	margin-top: 8.5rem; 
 }
 
 .button_CalculatorMain {
	width: 100%;
	height: 90px;
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	gap: 10px;
 }
 
 .button_Calculator1,
 .button_Calculator2 {
	height: 90px;
	background: rgb(40, 43, 38);
	border: 1px solid rgb(104, 106, 103);	font-size: 1.5rem; 
 }
 
 .text_Calculator {
	color: rgb(236, 236, 236);
	font-family: 'Noto Sans';
	font-size: 100%; 
	font-weight: 500;
	line-height: 44px;
	text-align: center;
 }
 
 .input_groupCalculator {
	width: 100%; 
	max-width: 1250px; 
	height: 540px;
	display: grid; 
	grid-template-columns: 1fr; 
	gap: 10px;
	margin: 0 auto; 
 }
 
 .input_subgroup {
	width: 100%;
	height: 270px;
	display: grid; 
	grid-template-columns: 1fr 1fr;
 }
 
 .width_calculator,
 .length_calculator,
 .height_calculator,
 .quantity_calculator,
 .price_calculator {
	width: 100%; 
	height: 80px;
	background: rgb(40, 43, 38);
	border: 1px solid rgb(104, 106, 103);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
 }
 
 .inputCustom {
	width: 200px;
	height: 40px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	background-color: rgb(40, 43, 38);
	color: rgb(236, 236, 236);
 }
 
 input::placeholder {
	color: rgb(236, 236, 236);
	font-family: "Noto Sans";
	font-size: 1rem; 
	text-align: center;
 }
 
 .button_calculatorSubgroup {
	width: 100%; 
	height: 80px;
	display: flex;
	justify-content: center;
 }
 
 .block_subgroupVolume,
 .block_subgroupPrice {
	width: 100%; 
	height: 80px;
	background: rgb(245, 209, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1rem; 
	margin-right: 20px;
 }
 
 .block__subgroupTextVolume,
 .block_subgroupTextPrice {
	color: rgb(104, 106, 103);
	font-family: 'Noto Sans';
	font-size: 1.2rem; 
	font-weight: 400;
	text-align: left;
 }
 
 .weight_calculatorSub {
	width: 100%; 
	height: 80px;
	background: rgb(40, 43, 38);
	border: 1px solid rgb(104, 106, 103);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
 }
 
 .volume_calculator {
	width: 100%; 
	height: 80px;
	background: rgb(40, 43, 38);
	border: 1px solid rgb(104, 106, 103);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
 }
 
 .block_subgroupDensity {
	width: 100%; 
	height: 80px;
	background: rgb(245, 209, 0);
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
 }
 
 .block_subgroupTextDensity {
	color: rgb(104, 106, 103);
	font-family: 'Noto Sans';
	font-size: 1.2rem; 
	font-weight: 400;
	text-align: center;
 }
 
 @media (max-width: 768px) {
	.cargoCalculator {
	  padding: 20px;
	}
 
.line{
	display: none;
}

	.title_calculator {
	  font-size: 2rem; 
	  text-align: center;
	  padding: 0;
	  margin-bottom: 1.5rem;
	}
 
 
	.button_CalculatorMain {
	  width: 100%;
	  height: 100%;
	  display: flex;
	 flex-wrap: wrap;
	  gap: 10px; 
	}


	.button_Calculator1,
	.button_Calculator2 {
	  height: 45px;
	  flex: 1 1 45%;
	  margin: 0;
	  font-size: 1.2rem; 
	}
 
	.calculator_skeleton{
		margin: 0;
	}
	
 
	.input_subgroup {
	  width: 100%;
	  display: grid; 
	  grid-template-columns: 1fr; 
	}
 
	.width_calculator,
	.length_calculator,
	.height_calculator,
	.quantity_calculator,
	.price_calculator {
	  height: 50px;
	  margin: 0 auto;
	  padding: 10px;
	  text-align: center;
	  font-size: 1rem; 
	}
 
	.button_calculatorSubgroup {
	  width: 100%;
	  display: flex;
	  gap: 5%;
	  justify-content: center;
	}
 }

 @media (max-width: 780px) {
	.button_CalculatorMain {
		display: flex;
		gap: 10px;
		width: 100%;
		
	 }
	 
	 .button_Calculator {
		flex: 1;
		padding: 10px;
		height: 45px;
		font-size: clamp(1rem, 2.5vw, 1.2rem); // Адаптивный размер текста
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(40, 43, 38);
		border: 1px solid rgb(104, 106, 103);
		color: rgb(236, 236, 236);
		text-align: center;
	 }
	 
	
  
	 .button_Calculator1,
	 .button_Calculator2 {
		flex: 1 1 45%; /* Кнопки будут занимать примерно половину ширины */
		height: auto;
		padding: 10px;
		font-size: clamp(0.8rem, 2vw, 1.2rem);	 }
 
	.title_calculator {
	  font-size: 1.8rem;
	  padding: 0;
	  margin-bottom: 1rem;
	}

	.button_CalculatorMain{
		height: 40%;
			margin-top: 30px;
	 }
 }
 
 